{% extends "audit/base.html" %}

{% block content %}
<h1>Топ тикетов за период с {{ date_begin|date:'Y-m-d' }} по {{ date_end|date:'Y-m-d' }}</h1>
{% if accounts %}
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>Абонент</th>
            <th>Адрес</th>
            <th class="text-center">Количество тикетов (за отчётный период/ранее созданные)</th>
            <th class="text-center" width='20%'>Тикеты за отчётный период</th>
            <th class="text-center" width='20%'>Старые тикеты</th>
        </tr>
        </thead>
    {% for account in accounts%}
        <tr>
            <td><b><a href="http://crm.kgts.su/sugarcrm/index.php?module=Accounts&action=DetailView&record={{ account.account_id }}">{{ account.account }}</a></b></td>
            <td>{{ account.address }}</td>
            <td class="text-center">{{ account.bugs|length }} / {{ account.bugs_old|length }}</td>
            <td class="text-center">
                <ul>
                    {% for bug in account.bugs %}
                            <li><a href="http://crm.kgts.su/sugarcrm/index.php?module=Bugs&action=DetailView&record={{ bug.id }}">{{ bug.number }} {{bug.date|date:'Y-m-d'}}</a></li>
                    {% endfor %}
                
                </ul>
            </td>
            <td class="text-center">
                <ul>
                    {% if account.bugs_old|length > 3 %}
                        <a name="all-{{ forloop.counter0 }}"></a>
                        <a href='#all-{{ forloop.counter0 }}' class = "extremum-click">Показать все  тикеты ({{ account.bugs_old|length }})</a>
                    {% endif %}
                    {% for bug in account.bugs_old|slice:":3" %}
                            <li><a href="http://crm.kgts.su/sugarcrm/index.php?module=Bugs&action=DetailView&record={{ bug.id }}">{{ bug.number }} {{bug.date|date:'Y-m-d'}}</a></li>
                    {% endfor %}
                    {% if account.bugs_old|length > 3 %}
                        <div class="extremum-slide" style="display: none;">
                            {% for bug in account.bugs_old|slice:"3:" %}
                                <li><a href="http://crm.kgts.su/sugarcrm/index.php?module=Bugs&action=DetailView&record={{ bug.id }}">{{ bug.number }} {{ bug.date|date:'Y-m-d' }}</a></li>
                            {% endfor %}
                        </div>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <h2>Данных нет...</h2>
{% endif %}

{% endblock content %}


{% block js-block %}
<script>
// Скрыть/открыть удалённые работы
$(".extremum-click").click(function () {
      $(this).siblings(".extremum-slide").slideToggle("slow");
    });
</script>
{% endblock js-block %}
